<!DOCTYPE html>
<html>

<head>
    <title>Template One</title>
</head>

<body>

    <table>

        <tr>

            <td>

                <img src="https://pbs.twimg.com/profile_images/2770735787/dd8fc4c5b9eccc981377937ffbe710db_400x400.jpeg" style="width:150px;height:60px" />
                <br />
                <br />

                <div style="border-top:3px solid #22BCE5"> </div>

                <span style="font-family:Arial;font-size:10pt">

                    Hello <b>{UserName}</b>,<br /><br />

                    <a style="color:#22BCE5" href="{Url}">{Title}</a><br />

                    {message}

                    <br /><br />

                    Thanks<br />

                </span>

            </td>

        </tr>

    </table>

</body>

</html> 